# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Installer logs
dev-requirements.txt
deps/

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Static type checker reports
.mypy_cache/
.dmypy.json
dmypy.json

# IDE / editor config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Jupyter notebooks
.ipynb_checkpoints/

# Local env files
.env
.env.*
*.env
.env.local

# Uv / PEP 582 installed packages
__pypackages__/
